.securechain-left-content {
    margin: 230px auto;
}
.securechain-right-content {
    margin: 230px auto;
}

.securechain-left-content h5{
    margin-bottom: 30px;
    font-size: 36px;
}
.securechain-right-content h5{
    margin-bottom: 30px;
    font-size: 36px;
}

.dropdown-item{
    color: #ffffff;
}
.ms-hero__inner {
    width: 75%;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    /* background-color: #0195ff; */
    background-color: #0195ff2b;
}
.dropdown-item {
    font-family: Roboto, sans-serif;
    padding: 10px 8px 10px;
}
.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  background-color: #171429;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #15a294, #0d5ca0);
    padding: 6px 0;
    box-shadow: 1px 1px 9px #000;
    /* border-radius: 5px; */
    background-color: #171429;
    font-size: 14px;
    /* background-image: url(../img/60d11b991238f963cc8ce414_Rectangle-40.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}

/* Preloader */

.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top-color: green; /* It is not in alphabetical order so that you do not overwrite it */
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: #0195ff;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: rgba(0, 0, 0, 0.2);	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(8):before {
  animation-delay: 1.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(9):before {
    animation-delay: 1.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(10):before {
    animation-delay: 1.6s;
}
  .container-preloader .animation-preloader .txt-loading .characters:nth-child(11):before {
    animation-delay: 1.8s;
}
.container-preloader .loader-section {
  background-color: #0c091b;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
/* Animation of the preloader */
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
/* Animation of letters loading from the preloader */
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
/* Laptop size back (laptop, tablet, cell phone) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner Loading */	
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	/* Text Loading */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner Loading */
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}
	/*Loading text */
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}
.origin{text-decoration:none;
font-size:45px;}

/*animation css*/
.lottie {
    position: relative;
    display: flex;
    width: 100%;
/*    height: 25rem;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lottie-animation-2 {
    position: relative;
    left: 0;
    /*left: 20%;
    height: 25rem;*/
}
.lottie-animation-3 {
    position: relative;
}
.lottie-animation-4 {
    position: relative;
}

.lottie-animation-5 {
    position: relative;
}
.lottie-animation-6 {
    position: relative;
}

.text {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 auto;
}
/*.text-benefit-right{
    left: -7%;
}*/
/*.text-benefit-left{
    left: -100px;
    top: -1%;
}*/

.lottie-animation-2 path{
    fill: #4ddeff;
    stroke: #4ddeff;
}
.lottie-animation-3 path{
    fill: #8e7eff;
    stroke: #8e7eff;
}
.lottie-animation-4 path{
    fill: #37bae1;
    stroke: #37bae1;
}
.lottie-animation-5 path{
    fill: #00b378;
    stroke: #00b378;
}

.lottie-animation-6 path{
    fill: #f4a422;
    stroke: #f4a422;
}

/*animation css*/

.pr-features__grid{
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-top: 2.7em;
}

.header-features__grid{
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-top: 2.7em;
}
.font-size-3-5{
    font-size: 3.5em;
}

.pr-border {
    /* border: 1px solid #75e3dd; */
    /* border-radius: 30px; */
    background-image: url(../img/60d11b991238f963cc8ce414_Rectangle-40.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 86px;
}
.pr-features__icon-wrapper{
    width: 100%;
    max-width: 100%;
    padding: 20px;
    min-height: 94px;
}
/*.text {
    left: 16%;
    top: -1%;
}*/



#services{
    padding-bottom: 200px!important
}
.card-seervices {
    margin-bottom: 20px;
    min-height: 460px;
    text-align: left;
    background-color: transparent;
    background-image: radial-gradient(at top right, #00E1FF24 0%, #161328 50%);
    padding: 40px 10px 40px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF29;
    border-radius: 10px 10px 10px 10px;
}

.card-seervices .card__header img{
    width: 70px;
}

.card-seervices .card__title{
    margin-bottom: 15px;
}
.card__body {
    margin-top: 1.1em;
    text-align: center;
}
.card-seervices {
    transform: perspective(var(--e-transform-perspective,0)) rotate(var(--e-transform-rotateZ,0)) rotateX(var(--e-transform-rotateX,0)) rotateY(var(--e-transform-rotateY,0)) translate(var(--e-transform-translate,0)) translateX(var(--e-transform-translateX,0)) translateY(var(--e-transform-translateY,0)) scaleX(calc(var(--e-transform-flipX, 1) * var(--e-transform-scaleX, var(--e-transform-scale, 1)))) scaleY(calc(var(--e-transform-flipY, 1) * var(--e-transform-scaleY, var(--e-transform-scale, 1)))) skewX(var(--e-transform-skewX,0)) skewY(var(--e-transform-skewY,0));
    transform-origin: var(--e-transform-origin-y) var(--e-transform-origin-x);
}

.card-seervices {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.card-seervices:hover{
    background-color: #00E1FF30;
}
.card-seervices:hover {
    --e-transform-translateY: -20px;
}
a.w-webflow-badge {
    display: none;
}

.table thead, tbody tr th, td {
    color: white;
}
.list-group-flush>.list-group-item {
    background-color: transparent;
    border: none;
    color: #fff;
}
.a1Blue i{
    opacity: 1;
    color: rgb(65 105 225);
}
.a1u {
    border-radius: 9999px;
}
.a3V {
    width: 1.5rem;
}
.a3U {
    height: 1.5rem;
}
.a1p {
    margin-right: 1rem;
}
.a1Pink {
    opacity: 1;
    color: rgb(249 81 146);
}

.a1Green {
    opacity: 1;
    color: green;
}
.a1Red {
    opacity: 1;
    color: red;
}
.a1Purple{
    opacity: 1;
    color: purple;
}


/* social medai css*/

.eapps-social-icons .nav-item .nav-link{
    width: 40px;
    height: 40px;
    margin: 5px;
    /* border-width: 2px; */
    border-radius: 50%;
    /* border: 2px solid #fff; */
    /* border-color: #fff; */
    text-align: center;
    padding: 6px;
    transition: all 0.1s ease;
}
.eapps-social-icons .nav-item .nav-link{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.1s ease;
}

.eapps-social-icons-item-twitter{
    background-color: #23abff;
    border: 2px solid #fff;
}

.eapps-social-icons-item-twitter:hover{
    background-color: #ffffff;
    border: 2px solid #23abff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-twitter:hover .eapps-social-icons-item-icon * {
    fill: #23abff;
}
.eapps-social-icons-item-telegram{
    background-color: #2ca5e0;
    border: 2px solid #fff;
}
.eapps-social-icons-item-telegram:hover{
    background-color: #ffffff;
    border: 2px solid #23abff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-telegram:hover .eapps-social-icons-item-icon * {
    fill: #23abff;
}

.eapps-social-icons-item-facebook:hover{
    background-color: #ffffff;
    border: 2px solid #2ca5e0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-facebook:hover .eapps-social-icons-item-icon * {
    fill: #2ca5e0;
}

.eapps-social-icons-item-facebook{
    background-color: #3e68c0;
    border: 2px solid #fff;
}
.eapps-social-icons-item-youtube{
    background-color: #ee3130;
    border: 2px solid #fff;
}

.eapps-social-icons-item-youtube:hover{
    background-color: #ffffff;
    border: 2px solid #ee3130;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-youtube:hover .eapps-social-icons-item-icon * {
    fill: #ee3130;
}

.eapps-social-icons-item-reddit{
    background-color: #ff5c1f;
    border: 2px solid #fff;
}

.eapps-social-icons-item-reddit:hover{
    background-color: #ffffff;
    border: 2px solid #ff5c1f;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-reddit:hover .eapps-social-icons-item-icon * {
    fill: #ff5c1f;
}

.eapps-social-icons-item-github{
    background-color: #0c0a2d;
    border: 2px solid #fff;
}

.eapps-social-icons-item-github:hover{
    background-color: #ffffff;
    border: 2px solid #0c0a2d;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons-item-github:hover .eapps-social-icons-item-icon * {
    fill: #0c0a2d;
}

.eapps-social-icons .nav-item .nav-link span svg{
    fill: #fff;
}

.eapps-social-icons .eapps-social-icons-item {
    transition: all 0.3s cubic-bezier(0.2, 0.26, 0, 1.78);
}
.eapps-social-icons-style-classic .eapps-social-icons-item, .eapps-social-icons-style-classic .eapps-social-icons-item:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.eapps-social-icons .nav-item .eapps-social-icons-item, .eapps-social-icons-icon-color-on-hover-white .eapps-social-icons-item:hover {
    border-color: #fff;
}
.eapps-social-icons-size-40 .eapps-social-icons-item {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-width: 2px;
}

.eapps-social-icons-border-radius-circle .eapps-social-icons-item, .eapps-social-icons-border-radius-circle .eapps-social-icons-item::before, .eapps-social-icons-border-radius-circle .eapps-social-icons-item::after {
    border-radius: 50%;
}

.eapps-social-icons-item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.1s ease;
}
.ms-client__logo {
    width: 100%!important;
    height: 100%!important;
}
@media screen and (min-width: 1024px){
    .seventy-six-percentage {
        width: 83%;
    }
    .pr-features__icon-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        min-height: 75px;
    }
    .securechain-right-content {
        margin: 130px auto;
    }
    .securechain-left-content {
        margin: 166px auto;
    }
}
@media screen and (min-width: 1200px){
    .text-benefit-left {
        left: -19px;
        top: -1%;
    }
    .text {
        position: absolute;
        left: -6%;
    }
    .seventy-six-percentage {
        width: 77%;
    }
    .pr-features__icon-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        min-height: 75px;
    }
    .securechain-right-content {
        margin: 130px auto;
    }
    .securechain-left-content {
        margin: 166px auto;
    }
}
@media screen and (min-width: 1440px){

    .pr-features__icon-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        min-height: 94px;
    }
    /*.text {
        left: 16%;
        top: -1%;
    }*/
    .seventy-six-percentage {
        width: 76%;
    }
    .text-benefit-right {
        left: -20%;
    }
    .text-benefit-left{
        left: -100px;
        top: -1%;
    }
    .securechain-right-content {
        margin: 140px auto;
    }
    .securechain-left-content {
        margin: 166px auto;
    }
}


@media(max-width: 992px) {
    .securechain-left-content h5{
        margin-bottom: 30px;
        font-size: 26px;
    }
    .securechain-right-content h5{
        margin-bottom: 30px;
        font-size: 26px;
    }
    .securechain-right-content {
        margin: 50px auto;
    }
    .securechain-left-content {
        margin: 50px auto;
    }

    .pr-features__grid{
        display: -ms-grid;
        display: grid;
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        grid-auto-columns: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr ;
        grid-template-columns: 1fr 1fr ;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 2.7em;
    }

    .header-features__grid{
        display: -ms-grid;
        display: grid;
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        grid-auto-columns: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 2.7em;
    }
}
@media(max-width: 768px) {
    #services {
        padding-bottom: 0px!important;
    }
    .card-seervices {
        margin-bottom: 20px;
        min-height: auto;
    }
    .card-seervices{
        margin-bottom: 15px;
    }
    .header-features__grid{
        display: -ms-grid;
        display: grid;
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        grid-auto-columns: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 2.7em;
    }
    .navbar-brand img{
        width: 100px;
    }
    .manual-tabs ul li {
        width: 50%;
    }
    body h1 {
        font-family: Orbitron-VariableFont_wght;
        font-size: 36px;
    }
    .ms-history__green-effect{
        display: none;
    }
    .ms-history__blue-effect{
        display: none;
    }
    .securechain-right-content {
        margin: 30px auto;
        text-align: center;
    }
    .securechain-left-content {
        margin: 30px auto;
        text-align: center;
    }
    .justify-content-start {
        justify-content: center!important;
    }
    .hero-footer{
        text-align: center;
    }
    .container .first_div {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }

      .container .second_div {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }
}
@media(max-width: 425px) {
    .ms-hero__inner {
        width: 100%;
    }
    .font-size-3-5 {
        font-size: 2em;
    }
    .pr-features__grid{
        display: -ms-grid;
        display: grid;
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        grid-auto-columns: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 2.7em;
    }

    .header-features__grid{
        display: -ms-grid;
        display: grid;
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start;
        grid-auto-columns: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 2.7em;
    }
    .buttons button{
        width: 100%;
    }
    .tags{
        text-align: center;
    }
    .tags .badge{
        margin-bottom: 15px;
    }

    .right-img{
        text-align: center;
    }

    .manual-tabs ul li {
        width: 50%;
    }
}